// Custom styles.
// Header Section
// --------------------------------------------------
.header-inner {
  margin-bottom: 80px;
  padding: 40px 0;
}

.site-meta {
  float: left;
  margin-top: 25px;
}

.menu .menu-item {
  margin: 0 15px;
}
